@import '../../../../styles/variables.scss';

.mainFilterItem {
  width: 1050px;
  margin: 0 auto;
  margin-top: 100px;

  .mdsRecommend {
    color: rgb(51, 51, 51);
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -0.26px;
    font-weight: 600;
    text-align: center;
    margin: 30px 0;
  }

  .foodCategoryBox {
    display: flex;
    width: 780px;
    margin: 0 auto;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    place-content: center;
    border: 1px solid black;

    .foodCategory {
      display: block;
      padding: 10px 20px;
      border-radius: 22px;
      margin: 0px 5px 20px;
      font-size: 14px;
      height: 40px;
      line-height: 16px;
      background-color: rgb(247, 247, 247);
      color: rgb(51, 51, 51);
      border: none;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        color: rgb(95, 0, 128);
        background-color: rgb(245, 240, 246);
      }
    }
    .foodSelected {
      display: block;
      padding: 10px 20px;
      border-radius: 22px;
      margin: 0px 5px 20px;
      font-size: 14px;
      height: 40px;
      line-height: 16px;
      background-color: rgb(95, 0, 128);
      color: white;
      border: none;
      font-weight: 500;
      cursor: pointer;
    }
  }
  .recommendList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1050px;
    padding-left: 10px;
  }
}
