@import '../../styles/variables.scss';

.toastPopup {
  @include flex(space-between, left, null);
  position: fixed;
  top: 20%;
  right: -5%;
  padding: 20px;
  min-width: 350px;
  transform: translate(-50%, -50%);
  background: $white-color;
  border-radius: 4px;
  border: 1px solid $gray-color;
  z-index: 10000;
  animation: toastAnimation 0.7s;
  border: 1px solid $primary-color;

  .toastImg {
    width: 46px;
    height: 60px;
    display: inline-block;
  }

  .toastTextBox {
    @include flex(space-between, null, column);
    height: 55px;
    width: 250px;
    margin-top: 3px;
    padding-left: 10px;

    .toastName {
      font-size: 15px;
      font-weight: 600;
      color: $devide-color;
      text-align: left;
    }

    .toastMsg {
      font-size: 15px;
      font-weight: 600;
      color: $text-color;
      text-align: left;
    }
  }
}

.toastUnmount {
  opacity: 0;
  transition: opacity 0.7s;
}

@keyframes toastAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
