@import '../../styles/variables';

.login {
  @include flex(space-between, center, column);
  width: 100%;
  height: 346px;
  margin: 90px 0 60px 0;

  .titleContainer {
    width: 100%;
    @include flex(center, center, column);

    .title {
      font-size: 20px;
      font-weight: 800;
    }
  }

  .formContainer {
    width: 340px;

    @include flex(center, center, column);

    form {
      width: 100%;
      height: 100%;

      .inputContainer {
        margin-top: 30px;
      }

      .loginInput {
        width: 100%;
        height: 54px;
        margin-bottom: 10px;
        padding: 0 11px 1px 15px;
        border: 1px solid rgb(215, 215, 215);
        border-radius: 5px;
        color: gray;
        font-size: 14px;
        font-weight: 400;

        &:focus {
          border: 1px solid black;
          outline: transparent;
        }
      }
    }

    .find {
      display: flex;
      justify-content: right;
      margin-top: 10px;

      font-size: 13px;

      span {
        width: 1px;
        height: 10px;

        margin: 0px 6px 3px 6px;
        border-left: 1px solid black;
      }
    }

    .buttonContainer {
      margin-top: 28px;

      button {
        width: 100%;
        height: 54px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        outline: none;
        box-shadow: none;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
      }

      .loginButton {
        background-color: $primary-color;
        color: white;
      }

      .signinButton {
        border: 1px solid $primary-color;
        background-color: white;
        color: $primary-color;
      }
    }
  }
}