@import '../../../styles/variables';

.review {
  position: relative;
  width: 1050px;

  .reviewBottom {
    border-bottom: 1px solid $primary-color;
  }

  .titleContainer {
    @include flex(null, center, column);

    .title {
      @include font(13px, 18px, null, $weight: 700);
      color: $text-color;
    }

    .titleText {
      width: 100%;
      height: 60px;

      .reviewDescription {
        @include font(12px, 18px, -0.3px, $weight: 500);
        color: $gray-color;
      }
    }
  }

  .reviewPostButton {
    position: absolute;
    right: 0;
    width: 100px;
    margin: 20px 0 0 0px;
    padding: 10px 0 10px 0;
    transition: 0.1s ease-in-out;
    border: 1px solid $primary-color;
    border-radius: 0;
    outline: none;
    background-color: $primary-color;
    box-shadow: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-align: center;
    cursor: pointer;

    &:hover {
      border: 1px solid $primary-color;
      background-color: rgb(255, 255, 255);
      color: $primary-color;
    }
  }
}

.reviewTableContainer {
  width: 100%;
  margin-top: 15px;
  border-top: 2px solid $primary-color;

  .list {
    &:hover {
      background-color: rgb(232, 232, 232);
    }
  }

  .reviewRowTitle {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    padding: 20px 0 17px 0;
    border-bottom: 1px solid $line-color;
    font-size: 12px;
  }

  .reviewRow {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    padding: 20px 0 17px 0;
    transition: 0.1s ease-in-out;
    border-bottom: 1px solid $lightGray-color;
    color: rgb(76, 76, 76);
    font-size: 12px;

    .reviewPadding {
      padding: 0 30px 0 30px;
      text-align: center;
    }

    .reviewTextboxButton {
      padding: 0;
      overflow: visible;
      border: none;
      border-radius: 0;
      outline: none;
      background: inherit;
      background-color: transparent;
      box-shadow: none;
      font-size: 12px;
      text-align: left;
      cursor: pointer;
    }
  }

  .tableTitle {
    text-align: center;
  }
}

.reviewContent {
  width: 100%;

  .reviewContentWrapper {
    height: 180px;
    padding: 20px 220px 20px 130px;
    border-bottom: 1px solid $lightGray-color;
    color: rgb(76, 76, 76);
    font-size: 12px;
  }
}

.reviewForm {
  @include flex(null, flex-start, column);
  margin-top: 20px;
  margin-left: 50px;

  .reviewPostTitle {
    width: 80%;
    padding: 10px 10px 10px 10px;
  }

  .reviewPostTextarea {
    width: 80%;
    height: 380px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 10px 10px 10px;
  }

  .reviewSubmitButton {
    position: absolute;
    right: 0;
    width: 100px;
    padding: 10px 0 10px 0;
    transition: 0.1s ease-in-out;
    border: 1px solid $primary-color;
    border-radius: 0;
    outline: none;
    background-color: $white-color;
    box-shadow: none;
    color: $primary-color;
    font-weight: 500;
    text-align: center;
    cursor: pointer;

    &:hover {
      border: 1px solid $white-color;
      background-color: $primary-color;
      color: $white-color;
    }
  }
}