@import '../../../styles/variables';

.table {
  .dList {
    padding: 17px 0 18px 0;
    border-top: 1px solid rgb(244, 244, 244);
    @include flex(space-between, flex-start, row);

    .dTitle {
      width: 128px;
      color: rgb(102, 102, 102);
      font-size: 14px;
    }

    .dDescription {
      width: 432px;
      font-size: 14px;
      line-height: 16px;
    }
  }
}