@import '../../../../../styles/variables.scss';

.cartList {
  width: 742px;
  border-top: 1px solid $text-color;

  .cartListDropTab {
    @include flex(space-between, center, null);
    width: 100%;
    margin: 20px 0;

    .cartListIconBox {
      @include flex(space-between, center, null);
      width: 106px;
      height: 30px;

      .frozenIcon {
        width: 28px;
        height: 28px;
        color: $frozen-color;
      }
      .chilledIcon {
        width: 28px;
        height: 28px;
        color: $chilled-color;
      }
      .sunIcon {
        width: 28px;
        height: 28px;
        color: $sun-color;
      }
      .cartListText {
        font-size: 20px;
        font-weight: 500;
        margin-top: 2px;
      }
    }

    .arrowIcon {
      width: 28px;
      height: 28px;
      margin-right: 10px;
    }
  }

  .cartItemList {
    width: 100%;
  }
}
