@import '/src/styles/variables';

.list {
  &:hover {
    background-color: rgb(232, 232, 232);
  }
}

.reviewRow {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  padding: 25px 0 22px 0;
  transition: 0.1s ease-in-out;
  border-bottom: 1px solid $lightGray-color;
  color: rgb(76, 76, 76);
  font-size: 12px;

  .reviewPadding {
    padding: 0 30px 0 30px;
    text-align: center;
  }

  .reviewTextboxButton {
    padding: 0;
    overflow: visible;
    border: none;
    border-radius: 0;
    outline: none;
    background: inherit;
    background-color: transparent;
    box-shadow: none;
    font-size: 12px;
    text-align: left;
    cursor: pointer;
  }
}

.reviewContentWrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .reviewContent {
    line-height: 1.8;
  }

  .helpfulButton {
    position: absolute;
    right: 30px;
    bottom: 10px;
    width: 100px;
    height: 30px;
    border: 1px solid $primary-color;
    background-color: $white-color;
    color: $primary-color;
    font-size: 12px;
  }

  .helped {
    border: 1px solid $white-color;
    background-color: $primary-color;
    color: $white-color;
  }
}