@import '../../styles/variables.scss';

.mainCategories {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  align-items: center;
  width: 300px;
  height: 500px;
  font-size: 18px;
  border: 1px solid $line-color;
  cursor: pointer;
}

.mainCategories li {
  padding: 16px 20px;
}

.mainCategories li:hover {
  background-color: #f7f7f7;
  color: $primary-color;
  font-weight: bold;
}
.subCategory {
  display: none;
}

.subCategories {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  align-items: center;
  padding: 16px 20px;
  width: 300px;
  height: 500px;
  background-color: #f7f7f7;
  font-size: 18px;
  border: 1px solid $line-color;
  cursor: pointer;
}
.subCategories li:hover {
  color: $primary-color;
  text-decoration: underline;
}
