@import '../../styles/variables.scss';

.categoryContainer {
  display: flex;
  margin-top: 50px;
}
.mainCategory {
  border: 1px solid #e4e4e4;
  height: 302px;
  &:hover {
    border-right: none;
  }
  .mainCategories {
    padding: 10px;
    background-color: $white-color;
    width: 200px;
    height: 30px;
    font-size: 16px;
    &:hover {
      background-color: #f7f7f7;
      font-weight: bold;
      color: $primary-color;
    }
  }
}
.subCategory {
  border-top: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
.subCategories {
  padding: 10px;
  background-color: #f7f7f7;
  width: 200px;
  height: 30px;
  font-size: 16px;
  &:hover {
    color: $primary-color;
    font-weight: bold;
    text-decoration: underline;
  }
}
