@import '../../../styles/variables';

.toolTipContainer {
  position: absolute;
  z-index: 100;
  top: 50px;
  right: 0px;
  width: 260px;
  height: 150px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.099) 0px 3px 7px -3px;
  @include flex(null, space-between, column);

  .toolTipLogos {
    height: 40px;
  }
}