@import '../../styles/variables';

.listPageContainer {
  width: 100%;
  margin-top: 50px;
  @include flex(center, null, row);

  .listWrapper {
    width: 1050px;
    height: 300vh;
    margin-top: 100px;
    @include flex(flex-start, center, column);

    .listTitle {
      display: block;
      margin-top: 50px;
      color: rgb(51, 51, 51);
      font-size: 28px;
      font-weight: 500;
      letter-spacing: -1px;
      text-align: center;
    }

    .contentContainer {
      width: 100%;
      margin-top: 50px;
      margin-bottom: 75px;

      .listGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 249px);
        gap: 24px 18px;
        width: 100%;

        div {
          height: 538px;
        }
      }
    }
  }
}

///////////////

.itemContainer {
  position: relative;
  width: 252px;
  min-height: 412px;
  cursor: pointer;

  .itemimg {
    width: 250px;
    height: 320px;
    // background-size: cover;
  }

  .itemIconBox {
    @include flex(center, center, null);
    @include position(absolute, null, 15px, 105px, null);
    width: 45px;
    height: 45px;
    border-radius: 45px;
    opacity: 0.7;
    background-color: $subPrimary-color;
  }

  .itemDescription {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05;
    line-height: 1.45;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .itemPrice {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.45;
  }
}