@import '../../../../../../styles/variables.scss';

.cartItem {
  @include flex(space-between, center, null);
  width: 100%;
  border: 1px solid black;

  .cartItemImg {
    width: 60px;
    height: 78px;
  }

  .cartItemName {
    width: 345px;
    padding-top: 2px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
    word-break: break-all;
    border: 1px solid black;
  }

  .cartItemCount {
    @include flex(space-between, center, null);
    width: 90px;
    height: 30px;
    border: 1px solid rgb(221, 223, 225);
    border-radius: 3px;
    padding: 0 10px;

    .cartCounts {
      font-size: 16px;
      font-weight: 500;
      margin-top: 3px;
    }
  }
}
