@import '../../../styles//variables.scss';

.modalBackground {
  @include flex(center, center, null);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.8);
  z-index: 1000;

  .modalBox {
    width: 360px;
    min-height: 150px;
    background-color: white;
    border-radius: 10px;

    .modalContentsBox {
      width: 360px;
      height: 122px;
      padding: 40px 30px;

      .modalContentsText {
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
        font-weight: 600;
      }
    }

    .modalConfirmBox {
      @include flex(center, center, null);
      width: 360px;
      height: 55px;
      border-top: 1px solid rgb(245, 245, 245);

      .modalConfirmBtn {
        width: 64px;
        border: none;
        font-size: 16px;
        font-weight: 600;
        color: $primary-color;
        background-color: white;
        cursor: pointer;
      }
    }
  }
}
