@import '../../../styles//variables.scss';

.modalBackground {
  @include flex(center, center, null);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.8);
  z-index: 1000;

  .cartModalBox {
    @include flex(center, center, column);
    height: auto;
    width: 440px;
    overflow-x: hidden;
    padding: 30px;
    border-radius: 12px;
    box-shadow: none;
    background: white;

    .cartModalTopBox {
      width: 100%;
      max-height: 355px;
      min-height: 130px;

      .cartContentsItem {
        font-size: 16px;
        line-height: 19px;
        color: rgb(51, 51, 51);
        overflow: hidden;
        word-break: break-all;
      }

      .cartCountBox {
        @include flex(space-between, center, null);
        width: 100%;
        margin-top: 15px;

        .cartItemPrice {
          font-weight: bold;
          font-size: 20px;
          color: rgb(51, 51, 51);
          line-height: 21px;
        }

        .cartCount {
          @include flex(space-between, center, null);
          width: 100px;
          height: 36px;
          border: 1px solid rgb(221, 223, 225);
          border-radius: 3px;
          padding: 0 10px;

          .cartCounts {
            font-size: 18px;
            font-weight: 600;
            margin-top: 5px;
          }
        }
      }
    }
    .cartModalMiddleBox {
      @include flex(space-between, center, null);
      width: 100%;

      .cartSumText {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
      }

      .cartSumVar {
        font-size: 26px;
        font-weight: 700;
        line-height: 24px;
      }
    }

    .cartModalBottomBox {
      @include flex(space-between, center, null);
      width: 100%;
      margin-top: 25px;

      .cartModalLeftBtn {
        display: block;
        padding: 0px 10px;
        padding-top: 4px;
        text-align: center;
        overflow: hidden;
        width: 185px;
        height: 52px;
        border-radius: 3px;
        color: rgb(51, 51, 51);
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(221, 221, 221);
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
      }

      .cartModalRightBtn {
        display: block;
        padding: 0px 10px;
        padding-top: 4px;
        text-align: center;
        overflow: hidden;
        width: 185px;
        height: 52px;
        border-radius: 3px;
        color: rgb(255, 255, 255);
        background-color: $primary-color;
        border: 0px none;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
      }
    }
    .cartPointBox {
      @include flex(end, center, null);
      width: 100%;
      font-size: 15px;
      line-height: 1.33;
      margin-top: 5px;
      color: rgb(51, 51, 51);

      .cartPointTag {
        width: 38px;
        height: 18px;
        margin-right: 6px;
        border-radius: 9px;
        background-color: rgb(255, 191, 0);
        font-size: 11px;
        font-weight: 600;
        line-height: 20px;
        color: rgb(255, 255, 255);
        text-align: center;
      }
    }
  }
}
