@import '../../styles/variables';

.footer-container {
  @include flex(center, center, column);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 494.5px;
  margin-top: 50px;
  padding-top: 29px;
  border-top: 1px solid rgb(246, 246, 246);
  background-color: white;

  .footer-contents {
    @include flex(space-between, flex-start, row);
    width: 1050px;
    height: 290px;
    padding-bottom: 67px;

    .left {
      h2 {
        padding-bottom: 17px;
        font-size: 20px;
        font-weight: 500;
        line-height: 29px;

        span {
          margin-left: 8px;
          font-size: 16px;
          font-weight: normal;
        }
      }

      strong {
        display: block;
        padding-bottom: 20px;
        color: rgb(44, 44, 44);
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
      }

      .button-wrapper {
        margin-bottom: 38px;

        button {
          width: 140px;
          height: 40px;
          margin-right: 10px;
          padding: 0 11px 1px 15px;
          border: 1px solid rgb(178, 178, 178);
          border-radius: 5px;
          background-color: white;
          color: rgb(44, 44, 44);
          font-size: 14px;
          font-weight: 400;
          cursor: pointer;
        }
      }

      .mailto {
        color: rgb(142, 142, 142);
        font-size: 12px;
        line-height: 18px;

        a {
          color: rgb(142, 142, 142);
        }
      }
    }

    .right {
      width: 460px;
      font-size: 12px;
      line-height: 18px;

      .corp-menu {
        padding-bottom: 29px;

        li {
          display: inline;
          padding-right: 14px;
          font-size: 14px;
        }
      }

      .corp-info {
        color: rgb(140, 140, 140);
        font-size: 10px;
        font-weight: 400;

        span {
          width: 1px;
          height: 10px;
          margin: 0 4px 0 4px;
        }
      }

      .corp-links {
        height: 58px;
        @include flex(flex-start, flex-end, row);

        li {
          width: 30px;
          height: 30px;
          margin-right: 10px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .footer-marks {
    width: 1050px;
    height: 102px;
    padding: 26px 0 33px 0;
    @include flex(space-between, center, row);
    border-top: 1px solid rgb(246, 246, 246);

    button {
      width: 255px;
      @include flex(center, center, row);
      border: transparent;
      outline: none;
      background-color: white;

      IMG {
        margin-right: 10px;
      }

      p {
        color: rgb(153, 153, 153);
        font-size: 10px;
        line-height: 14.5px;
        text-align: left;
        word-break: break-word;
      }
    }
  }

  .footer-bottom {
    width: 100%;
    height: 100px;
    padding: 20px 0 30px 0;
    background-color: rgb(246, 246, 246);
    color: rgb(153, 153, 153);
    font-size: 10px;
    line-height: 15px;
    text-align: center;

    em {
      display: block;
      padding-top: 7px;
    }
  }
}