@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

.signupContainer {
  align-items: center;
  min-width: 1050px;
  padding: 50px 0px;
  background-color: #ffffff;
}

.topSignupLetter {
  margin: 50px 0;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -1px;
  color: rgb(51, 51, 51);
}

.topRequired {
  display: flex;
  justify-content: right;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(51, 51, 51);
  font-size: 12px;
  color: rgb(102, 102, 102);
  line-height: 17px;
  text-align: right;
}

.mainContainer {
  width: 640px;
  margin: 0px auto;
}

.leftLetter {
  padding-top: 12px;
}

.input {
  width: 333px;
  height: 46px;
  border-radius: 4px;
  padding: 0 11px 1px 15px;
  font-size: 16px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  &:focus {
    outline: transparent;
    border: 1px solid black;
  }
}

.star {
  color: rgb(238, 106, 123);
}

.rightButton {
  display: block;
  margin-left: 8px;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 120px;
  height: 44px;
  color: rgb(95, 0, 128);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 0, 128);
  border-radius: 3px;
}

.buttonLetter {
  color: rgb(95, 0, 128);
  font-weight: 500;
  font-size: 14px;
}

.eachContainer {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.leftLetter {
  width: 139px;
  text-align: left;
  padding-top: 12px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  color: rgb(95, 0, 128);
}

.rightButtonAddress {
  padding: 0px 10px;
  text-align: center;
  width: 333px;
  height: 44px;
  color: rgb(95, 0, 128);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 0, 128);
  border-radius: 3px;
}

.choiceContainer {
  display: flex;
  justify-content: space-between;
  width: 333px;
  padding: 12px 0px 9px;
}

.male {
  @include flex(space-between, center);
  width: 62px;
  margin-right: 50px;
}

.female {
  @include flex(space-between, center);
  width: 62px;
  margin-right: 50px;
}

.genderNone {
  @include flex(space-between, center);
  width: 88px;
}

.genderChoiceButton {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
}

.birthContainer {
  @include flex(center, center);
  padding: 0 15px;
  height: 44px;
  width: 333px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
}

.birthInput {
  text-align: center;
  width: 100%;
  height: 40px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 38px;
  color: rgb(51, 51, 51);
  outline: none;
}

.birthSlash {
  font-size: 14px;
  color: rgb(204, 204, 204);
  text-align: center;
  line-height: 40px;
}

.underline {
  padding: 10px 0px;
  border-bottom: 1px solid rgb(51, 51, 51);
}

.recommendContainer {
  @include flex(space-between, center);
  width: 118px;
  padding: 12px 0px 9px;
}

.signupButtonContainer {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.signupButton {
  text-align: center;
  overflow: hidden;
  width: 240px;
  height: 56px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 0, 128);
  border: 0px none;
}

.signupButtonLetter {
  font-size: 16px;
  font-weight: 500;
}
