@import '../../../styles/variables.scss';

.itemContainer {
  position: relative;
  width: 252px;
  min-height: 412px;
  cursor: pointer;
  border: 1px solid black;

  .itemImg {
    width: 250px;
    height: 320px;
  }

  .itemIconBox {
    @include flex(center, center, null);
    @include position(absolute, null, 15px, 105px, null);
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background-color: $subPrimary-color;
    opacity: 0.7;
  }

  .itemDescription {
    font-size: 16px;
    line-height: 1.45;
    letter-spacing: -0.05;
    font-weight: 400;
    margin: 10px 0;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .itemPrice {
    font-size: 16px;
    line-height: 1.45;
    font-weight: 700;
  }

  .reactIcon {
    color: $white-color;
    width: 23px;
    height: 23px;
  }
}
